@import '../../../assets/styles/theme.scss';

@media screen and (min-width:0px) {
    .home {

        .r1 {
            min-height: 100vh;
            height: 100%;

            .r1c1 {
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;

                .mat-card {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    overflow: hidden;

                    .mat-card-content {
                        padding: 2rem;

                        .login-form {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-content: center;

                            .mat-form-field {
                                padding: 1rem;

                                .mat-label,
                                .mat-error {
                                    font-size: small;
                                }

                                .input::placeholder {
                                    text-transform: uppercase;
                                    letter-spacing: 0.2rem;
                                }
                            }

                            .button-group {
                                text-align: center;
                                padding: 1rem;

                                .mat-raised-button {
                                    text-transform: uppercase;
                                    font-size: small;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}