<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <mat-card class="mat-card">
                <mat-card-content class="mat-card-content">
                    <form class="login-form" [formGroup]="loginForm">
                        <mat-form-field class="mat-form-field">
                            <mat-label class="mat-label">Username</mat-label>
                            <input class="input" type="text" matInput formControlName="email">
                            <mat-error class="mat-error"
                                *ngIf="email?.hasError('email') && !email?.hasError('required')">
                                Please enter a valid email
                            </mat-error>
                            <mat-error class="mat-error" *ngIf="email?.hasError('required')">
                                Username is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="mat-form-field">
                            <mat-label class="mat-label">Password</mat-label>
                            <input class="input" type="password" matInput formControlName="password">
                            <mat-error class="mat-error" *ngIf="password?.hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <div class="button-group">
                            <button class="mat-raised-button" type="submit" (click)="onSubmit()"
                                mat-raised-button>Login</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>