// THEME
$primary0: #000000;
$primary1: #111111;
$primary2: #222222;
$primary3: #333333;
$primary4: #444444;
$primary5: #555555;
$primary6: #666666;
$primary7: #777777;
$primary8: #888888;
$primary9: #999999;
$primary10: #AAAAAA;
$primary11: #BBBBBB;
$primary12: #CCCCCC;
$primary13: #DDDDDD;
$primary14: #EEEEEE;
$primary15: #FFFFFF;

$shadow20: #00000020;

$active: #00bb00;
$inActive: #ff3333;
$royalBlue: royalblue;