.home {
    .r1 {
        display: flex;
        justify-content: center;
        align-items: center;

        .r1c1 {
            border-left: 1px solid lightgray;
            border-right: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            padding: 0;

            .h2 {
                padding: 1rem;
            }

            .form {
                margin: 2rem;
                display: flex;
                justify-content: space-between;

                .mat-card-content {
                    padding: 1rem;
                }

                .mat-card-actions {
                    padding: 0.5rem 1rem;

                    display: flex;
                    justify-content: space-between;

                    .quantity {

                        .mat-form-field {
                            width: 128px;
                        }
                    }
                }
            }
        }
    }

    .r2 {
        .r2c1 {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .h6,
            .button,
            .p {
                margin: 1rem 2rem;
                padding: 1rem;
            }
        }
    }
}